body{
    margin: 0px;
    padding: 0px;
    font-family: 'Bree Serif', serif;
    font-family: 'Public Sans', sans-serif;
}
.flexiable-container{
    display: flex;
    margin-bottom: 40px;
}
.menu-bar ul{
    margin-top: 40px;
    margin-left: 80px;
}
.menu li{
    list-style-type: none;
    display: inline;
    padding: 20px 40px;
    margin-right: 10px;
    color: #555151;
    font-size: 30px;
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: #555151;
}
.container{
   width: 50%;
   margin-left: 50px;
}
.container img{
    width: 80%;
}
p{
    color: dimgray;
    text-align: justify;
}
.title-header{
    color: orangered;
}
h1{
    font-weight: 900;
    font-size: 50px;
    color: #555151;
}
h3{
    color: #beb4b4;
    margin-bottom: 50px;
}
.link-button{
    
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    background-image: linear-gradient(orange ,tomato);
   
}
.about-banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.container p{
    text-align: justify;
    padding-right: 200px;
    margin-bottom: 80px;
}


.recipies {
    text-align: center;
}
.recipies p{
    text-align: center;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.food-item-area{
    width: 30%;
    margin: 3%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px gray;
    margin-bottom: 100px;    
}
.food-item-area h2{
    color: black;
}
.food-item-area img{
    width: 100%;
}

.food-item{
    padding-right: 50px;
}

h2{
    color: #beb4b4;

}
.optional{
    width: 80%;
    margin-left: 150px;
    border-radius: 30px;
    box-shadow: 2px 2px 20px gray;
    margin-bottom: 100px;
}
.optional-width{
    width: 30%;
    padding: 30px;
    margin-left: 80px;
    
   
}
.optional-width h1,h3{
    color: black;
}
.order-now{
  
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
.order-now p{
    text-align: center;
    text-align: justify;
}
button{
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-image: linear-gradient(orange ,tomato);

}

footer{
    text-align: center;
    background-color: black;
    padding: 80px;
}
footer p{
    text-align: center;
    color: white;
}